<head>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <h2>당신이 입력한 텍스트는 <!--총단어수--> 단어로 구성되어 있습니다.</h2>

    <a href="{% url 'home' %}"> 다시하기 </a>

    <h2>입력한 텍스트: </h2>
    <!-- 입력받은 전체 텍스트 -->
    {{ fulltext }}

    <h2>단어 카운트:</h2>
    <!-- '단어' - '단어나온 횟수' -->
    {% for word, countTotal in dictionary %}
    {{ word }} - {{ countTotal }}
    <br>
    {% endfor %}
</div>